<h1>To Do List</h1>

<h2>Things that are not done</h2>

<ul>
  {{#each to_do}}
    {{#unless completed}}
      {{> itsdone/itsdone-block complete=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Things that are done</h2>

<ul>
  {{#each to_do}}
    {{#if completed}}
      {{> itsdone/itsdone-block complete=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add something to do</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">What? :</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="completed">Done?</label><br>
    <input type="radio" name="completed" value="1" checked> Its Done!<br>
    <input type="radio" name="completed" value="0"> Its Definately NOT done.
  </div>

  <button type="submit">Submit your item</button>
</form>
